<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceDescription" value="Tasker service responsible for running background tasks." />
    <add key="ServiceDisplayName" value="Tasker Service" />
    <add key="ServiceName" value="TaskerService" />
    <add key="ListenPort" value="9096" />
    <add key="TimeOutInSeconds" value="15" />
    <add key="EmailSmtpServer" value="smtp.gmail.com" />
    <add key="EmailSmtpPort" value="587" />
    <add key="EmailUserName" value="tasker.for.test" />
    <add key="EmailPassword" value="FLGxiJQc" />
    <add key="EmailSender" value="tasker.for.test@google.com" />
    <add key="EmailSenderName" value="Tasker" />
  </appSettings>
  <connectionStrings>
    <add name="TaskerDBContext" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=TaskerDB;Trusted_Connection=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog>
    <targets>
      <target name="t1" type="File" fileName="c:\taskerlog.txt" />
      <target name="t2" type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>
</configuration>